body{
    background-color: #6fd4f8;
}
.container-fluid{
    max-width: 750px;
    margin: 0 auto;
}
.logo{
   text-align: center;
    padding-top: 80px;

}
.logo img{
    width: 490px;
    margin: 0 auto;
    max-width: 100%;
}
.create_accout{
    text-align: center;
    padding-top: 100px;
}
.create_accout a{
    color:#fff;
    font-weight: bold;
    font-size: 18px;
}
.login_form{
    padding-top: 120px;
}
.login_form input.form-control {
    height: 50px !important;
    border-radius: 10px;
    padding-left: 25px;
}
.forgetpassword{
    text-align: center;
}
.login_form .forgetpassword a{
    color:#fff;
    font-size: 18px;
}
.connexion{
    padding-top: 35px;
}
.connexion button{
    background-color: #ffd95c;
    border:none;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border-radius: 10px;
    transition: all .5s;

}
.connexion button:hover{
    background-color: #fff;
    color:#ffd95c;

}

::-webkit-input-placeholder {
    color: pink;
    font-weight: bold;
}
::-moz-placeholder {
    color: pink;
    font-weight: bold;

}
:-ms-input-placeholder {
    color: pink;
    font-weight: bold;

}
:-moz-placeholder {
    color: pink;
    font-weight: bold;

}

/* Inscription page*/
.inscription_form .panel ,.inscription_form .panel-heading{
    background-color: transparent;
    border:none;
    box-shadow: none;
}
.inscription_form .panel-heading h4{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
}
.inscription_form .form-group{
    margin-bottom: 0;
}
.inscription_form .panel-body{
    border:none;
}
.inscription_form input{
    height: 50px;
    border-radius: 0px;
    border: none;
}
.firstinput{
    border-radius: 10px 10px 0px 0px !important;
}
.form-check{
    display: inline-block;
    width: calc(50% - 2px);
    background: #fff;
    margin: 0;
    padding: 0;
}
.form-check label{
    position: absolute;
    line-height: 50px;
}
.input_radio{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}
.input_radio > :first-child{
    border-radius: 0 0 0 10px;
}
.input_radio > :last-child{
    border-radius: 0 0 10px 0px;
}
.moniteur_attribute{
    display: none;
}
.eleve_attribute{
    display: none;
}
